{% extends 'base.html' %}

{% block content %}
    <h1> Welcome to my Flask App!</h1>
    <h2>Testing a new line!</h2>
    {{ peeps }}
    {% for p in peeps %}
        {% if p == 'Shoha'%}
        <div class="card text-center">
            <div class="card-body">
                <b>
                {{ p }}
                </b>
            </div>
        </div>
    {% else %}
        <div class="card text-center">
            <div class="card-body">
                {{ p }}
            </div>
        </div>
    {% endif %}
    {% endfor %}
    {% for poke in pokemons %}
        <div class="card" stye="width: 5%;">
            <img src='{{ poke["image"] }}'' class="card-img-top" alt="...">
            <p class="card-text">
                {{ poke[ 'name'] }}
            </p>
        </div>

    {% endfor %}
    {% endblock %}

    {% block title %} 
    Home Page
    {% endblock %}
<script scr="https://cdnjs.cloudfare.com?ajax/libs/twitter=bootstrap/5.1.3./js/bootstrap.min.js"></script>    
<script src="https://cdjns.cloudfare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script> 
<script src="https://cdjns.cloudfare.com?ajax/libs/twitter_bootstrap.min.js"></script>
</body>
</html>